@{
    ViewBag.Title = "Confirmed orded";
}

<div class="container mt-5 text-center">
    <img src="/img/thank-you-1-800pxl-72dpi.png" alt="Thank you for your order!" style="object-fit: cover; max-width: 100%; height: auto; width: 400px;">
    <h1>Thank you for your order!</h1>
    <p>Your order number is <strong>@ViewBag.OrderId</strong>.</p>
    <p>
        Your items are being prepared for shipment and are estimated to be delivered between
        <strong>@ViewBag.OrderDate.AddDays(2).ToString("dd.MM.yyyy")</strong> and
        <strong>@ViewBag.OrderDate.AddDays(3).ToString("dd.MM.yyyy")</strong> (2-3 business days).
        We hope you enjoy your purchase!
    </p>
    <p>You can track your order status in your <a href="/Identity/Account/Manage/MyOrders">View My Orders</a>.</p>

    <a asp-area="" asp-controller="Product" asp-action="Catalog" class="btn btn-secondary mt-4">Continue Shopping</a>
    <a href="/Identity/Account/Manage/MyOrders" class="btn btn-primary mt-4">View My Orders</a>
</div>