@{
    ViewBag.Title = "About Us";
}

<h2 class="text-center fst-italic">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="row text-center">
        <div class="col-md-8 offset-md-2">
            <p class="mt-3">
                Welcome to Happy Flower Co., where every petal tells a story of joy, beauty, and elegance. Founded with a passion for nature's most vibrant creations, our mission is to brighten lives with the timeless charm of flowers.
            </p>
            <p>
                At Happy Flower Co., we believe in quality, sustainability, and spreading happiness. From handcrafted bouquets to unique floral arrangements for every occasion, our flowers are sourced from trusted growers who share our values of excellence and care for the environment.
            </p>
            <p>
                Whether you're celebrating a milestone, expressing love, or simply making someone's day, Happy Flower Co. is here to help you say it with flowers. Let us be a part of your journey in creating unforgettable memories, one bloom at a time.
            </p>
            <h4 class="fst-italic"><strong>Your happiness is our passion!</strong></h4>
        </div>
    </div>
    <img src="/img/flowersInPots.jpg" class="mt-3" alt="Flowers-pots" style="object-fit: contain; max-width: 100%; height: auto;">
</div>
